{:paths ["src" "resources"]

 :deps {
        incanter/incanter-core {:mvn/version "1.9.3"}
        incanter/incanter-charts {:mvn/version "1.9.3"}
        clatrix {:mvn/version "0.5.0"}
        clj-org {:mvn/version "0.0.2"}
        ;; ajax client for clj & cljs
        cljs-ajax {:mvn/version "0.8.1"}
        ;; load config from env
        cprop {:mvn/version "0.1.17"}
        migratus {:mvn/version "1.3.3"}
        hikari-cp {:mvn/version "2.13.0"}
        org.immutant/immutant {:mvn/version "2.1.10" :exclusions [ch.qos.logback/logback-classic]}
        com.layerware/hugsql {:mvn/version "0.5.1"}
        secretary {:mvn/version "2.0.0.1-260a59"}
        funcool/struct {:mvn/version "1.4.0"}
        ;; file manipulation
        funcool/datoteka {:mvn/version "1.2.0"}
        ;; WARNING: conflict with clojure.string
        ;;funcool/cuerdas {:mvn/version "2.0.5"}
        compojure {:mvn/version "1.6.2"}
        org.postgresql/postgresql {:mvn/version "42.2.18"}
        endophile {:mvn/version "0.2.1"}
        enlive {:mvn/version "1.1.6"}
        etaoin {:mvn/version "0.4.1"}
        hiccup {:mvn/version "1.0.5"}
        hickory {:mvn/version "0.7.1"}
        hipo {:mvn/version "0.5.2"}
        oauth-clj {:mvn/version "0.1.16" :exclusions [commons-logging]}
        prone {:mvn/version "2020-01-17"}
        ring {:mvn/version "1.8.2"}
        ring-logger {:mvn/version "1.0.1"}
        ring-webjars {:mvn/version "0.2.0" :exclusions [com.fasterxml.jackson.core/jackson-core]}
        ;; browser nrepl via websocket, supposed to be auto injected by cider-jack-in-cljs, additional customize is required to use this
        ;; prefer piggieback(nrepl middleware, cljs.repl adapter) configed via emacs customize:
        ;; (cider-register-cljs-repl-type 'browser "(do (require 'cljs.repl.browser) (cider.piggieback/cljs-repl (cljs.repl.browser/repl-env)))" 'cider-check-nashorn-requirements)
        ;;  weasel {:mvn/version "0.7.0"}
        acyclic/squiggly-clojure {:mvn/version "0.1.8"}
        buddy/buddy-auth {:mvn/version "2.2.0"}
        cljsjs/three {:mvn/version "0.1.01-1"}
        com.cemerick/piggieback {:mvn/version "0.2.2"}
        com.cemerick/pomegranate {:mvn/version "1.1.0" :exclusions [commons-logging]}
        com.datomic/datomic-free {:mvn/version "0.9.5697" :exclusions [commons-codec org.apache.httpcomponents/httpclient org.slf4j/slf4j-nop com.google.guava/guava io.netty/netty-all]}
        com.draines/postal {:mvn/version "2.0.4"}
        ;; slf4j's impl as timbre
        com.fzakaria/slf4j-timbre {:mvn/version "0.3.20"}
        ;; cannot compiled in cljs
        ;; Not supported: class cljs.repl.browser.BrowserEnv$fn__7793
        com.taoensso/timbre {:mvn/version "5.1.0"}
        com.taoensso/tufte {:mvn/version "2.2.0"}
        dk.ative/docjure {:mvn/version "1.14.0"}
        ;; to replace component, see my-cognition/clojure state manage
        mount {:mvn/version "0.1.16"}
        net.mikera/core.matrix {:mvn/version "0.62.0"}
        net.mikera/imagez {:mvn/version "0.12.0"}
        net.mikera/vectorz-clj {:mvn/version "0.48.0"}
        arttuka/reagent-material-ui {:mvn/version "4.11.0-3"}
        ;; latest code not work, use reagent-material-ui instead
        ;; Invalid :refer, macro reagent.interop/$! does not exist in file
        ;; file:/Users/fuchengxu/.m2/repository/org/clojars/melodylane/cljs-react-material-ui/1.4.0-0.1/cljs-react-material-ui-1.4.0-0.1.jar!/cljs_react_material_ui/reagent.cljs
        org.clojars.melodylane/cljs-react-material-ui {:mvn/version "1.4.0-0.1"}
        org.clojure/clojurescript {:mvn/version "1.10.773"}
        org.clojure/core.async {:mvn/version "1.3.610" :exclusions [org.ow2.asm/asm-all]}
        org.clojure/data.csv {:mvn/version "1.0.0"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.4"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        org.clojure/tools.reader {:mvn/version "1.3.4"}
        org.clojure/java.jdbc {:mvn/version "0.7.11"}
        ;; required by clojure.spec.test
        org.clojure/test.check {:mvn/version "1.1.0"}
        org.danielsz/system {:mvn/version "0.4.6"}
        ;; jcl redirect to slf4j(common-logging.jar need to be exclude from cp)
        org.slf4j/jcl-over-slf4j {:mvn/version "1.7.30"}
        ;; log4j redirect to slf4j(log4j.jar need to be exclude from cp)
        org.slf4j/log4j-over-slf4j {:mvn/version "1.7.30"}
        ;; jul redirect to slf4j(no jar to be excluded, as jul in java pkg)
        org.slf4j/jul-to-slf4j {:mvn/version "1.7.30"}
        org.webjars.bower/tether {:mvn/version "2.0.0-beta.5"}
        prismatic/dommy {:mvn/version "1.1.0"}
        reagent {:mvn/version "0.10.0"}
        ring/ring-defaults {:mvn/version "0.3.2"}
        ring-cors {:mvn/version "0.1.13"}
        ;; data formatter
        metosin/muuntaja {:mvn/version "0.6.7"}
        }

 :aliases {
           ;; java11+ removed this module, use -A:java11+ instead
           ;; java.lang.module.FindException: Module java.xml.bind not found
           :java9+ {:jvm-opts ["--add-modules" "java.xml.bind"]}
           :java11+ {:extra-deps {javax.xml.bind/jaxb-api {:mvn/version "2.3.1"}
                                  org.glassfish.jaxb/jaxb-runtime {:mvn/version "2.3.1"}}}
           :dev {:extra-paths ["/Users/fuchengxu/.m2/repository/io/netty/netty-handler/4.1.25.Final/netty-handler-4.1.25.Final-sources.jar"]}
           ;; run with clj -A:outdated [--write]
           :outdated {:extra-deps {olical/depot {:mvn/version "2.0.1"}} :main-opts ["-m" "depot.outdated.main"]}
           }



 :mvn/repos {
             "central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}
             "jboss" {:url "http://repository.jboss.org/nexus/content/groups/public/"}
             }
 }
