{:qq-oauth2 {:authorization-uri "https://graph.qq.com/oauth2.0/authorize"
             :redirect-uri "http://www.sharkxu.com/oauth2/callback"
             :client-id "101326937"
             :client-secret "b9892d627e6ff3985eb25b32c1ade573"
             :options {:scope ["get_user_info"]
                       :response-type "code"}
             :access-token-uri "https://graph.qq.com/oauth2.0/token"

             :qq-openid-uri "https://graph.qq.com/oauth2.0/me"
             :qq-user-info-uri "https://graph.qq.com/user/get_user_info"}}
