{:db-url "datomic:mem://localhost:4334/gng"
 :datasource-options {:auto-commit        true
                      :read-only          false
                      :connection-timeout 30000
                      :validation-timeout 5000
                      :idle-timeout       600000
                      :max-lifetime       1800000
                      :minimum-idle       10
                      :maximum-pool-size  10
                      :pool-name          "db-pool"
                      :adapter            "postgresql"
                      :username           "fuchengxu"
                      :password           "password"
                      :database-name      "fuchengxu"
                      :server-name        "localhost"
                      :port-number        5432
                      :register-mbeans    false}}
